<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Post</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
  
    <div class="w-full flex justify-end">
      <a class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/logout">Logout</a>
    </div>
    <div class="w-full max-w-md mx-auto">
      <h3 class="text-2xl font-semibold mb-5 text-center">Edit Your Post</h3>
      
      <form action="/update/<%= post._id %>" method="POST" class="flex flex-col gap-4">
        <div>
          <label for="content" class="block mb-1 text-sm text-zinc-400">Post Content</label>
          <textarea 
            name="content"
            id="content"
            rows="5"
            placeholder="What's on your mind?" 
            class="w-full p-3 outline-none resize-none bg-transparent border-2 border-zinc-700 rounded-md focus:border-yellow-500"
          ><%= post.content %></textarea>
        </div>

        <input 
          type="submit" 
          value="Update Post" 
          class="bg-yellow-500 hover:bg-yellow-600 text-black font-medium py-2 rounded-md cursor-pointer"
        />
      </form>
    </div>
  </div>
</body>
</html>
